!.gitkeep
/.fatjar
/build
target
logs
.git
.settings
*.swp
.idea
*.iml
.DS_Store
*~
bin/scala*
bin/spark-*-bin-*
bin/apache-maven-*
scalastyle-output.xml
scalastyle.txt
derby.log
spark/bin/zinc-*
*.dylib
*.so
.classpath
.project
metastore_db
.java-version
