!.gitkeep
/.fatjar
/build
target
logs
.git
.settings
*.swp
.idea
*.iml
.DS_Store
*~
bin/apache-maven-*
derby.log
*.dylib
*.so
.classpath
.project
metastore_db
.java-version
*.bak
release.properties
*.releaseBackup
.python-version
\#*#
pom.xml.next
pom.xml.tag
.cache-main
